<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Encuentranos</h4>
              <span>Calle Bécquer, 1-3, 41002, Sevilla</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>LLAMANOS</h4>
              <span>+34 17 05 2024</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>CONTACTANOS</h4>
              <span>cijfers@outlook.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-text">
              <p>Somos una compañia que se dedica a complacer a nuestros clientes con la mensajeria mas simple y funcional posible para enriquecer su rutina</p>
            </div>
            <div class="footer-social-icon">
              <span><h5 style="color: #f0f3f4">Siguenos</h5></span>
              <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
              <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
              <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Links</h3>
            </div>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Acerca de</a></li>
              <li><a href="#">servicios</a></li>
              <li><a href="#">portfolio</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Objetivos</a></li>
              <li><a href="#">Galeria</a></li>
              <li><a href="#">Equipo</a></li>
              <li><a href="#">Funciones</a></li>
              <li><a href="#">Noticias</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>No olvides suscribirte a nuestras ofertas diarias para nuestros clientes</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fab fa-telegram-plane"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container" >
      <div class="row" >
        <div class="col-xl-6 col-lg-6" style="text-align: right; margin-left: 100px">
          <div class="copyright-text">
            <p> &copy; CIJFERS 2024, All Right Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
