<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #931205 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CIJFERS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="contacto">Contactos
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="galeria">Mi Galería
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="crearPerfil">Completar Perfil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
      </ul>
      <li class="d-flex" *ngIf="token"><a class="nav-link" href="perfil"><img class="rounded-circle my-1" width="60px" style="margin-right: 20px" src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-256.png"></a></li>

      <li class="d-flex" *ngIf="!token"><a class="btn btn-outline-light my-1 my-sm-0" type="submit" routerLink="/login">Login</a></li>
      <li class="d-flex" *ngIf="token"><a class="btn btn-outline-light my-1 my-sm-0" type="submit" (click)="logout()">Logout</a></li>
    </div>
  </div>
</nav>
