<h1 style="background-color: #55ACEE; color: #151414">{{this.route.snapshot.paramMap.get("nombreUsuario")}}</h1>

<div *ngIf="emi">
<ul *ngFor="let item of emi" style="background-color: #8147fc; color: #151414">
  <li >{{item.id}}</li>
</ul>
</div>

<p style="background-color: #f0f3f4; color: #151414">Valor actual de la variable "chats": {{emi| json}}</p>
<div class="--dark-theme" id="chat">
  <div class="chat__conversation-board" *ngFor="let mensaje of emi[0]">
    <div class="chat__conversation-board__message-container">


      <div class="chat__conversation-board__message__options">
        <button class="btn-icon chat__conversation-board__message__option-button option-item emoji-button">
          <svg class="feather feather-smile sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
            <line x1="9" y1="9" x2="9.01" y2="9"></line>
            <line x1="15" y1="9" x2="15.01" y2="9"></line>
          </svg>
        </button>
        <button class="btn-icon chat__conversation-board__message__option-button option-item more-button">
          <svg class="feather feather-more-horizontal sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="19" cy="12" r="1"></circle>
            <circle cx="5" cy="12" r="1"></circle>
          </svg>
        </button>
      </div>
    </div>

    <div class="chat__conversation-board__message-container" >

      <div class="chat__conversation-board__message__options">
        <button class="btn-icon chat__conversation-board__message__option-button option-item emoji-button">
          <svg class="feather feather-smile sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
            <line x1="9" y1="9" x2="9.01" y2="9"></line>
            <line x1="15" y1="9" x2="15.01" y2="9"></line>
          </svg>
        </button>
        <button class="btn-icon chat__conversation-board__message__option-button option-item more-button">
          <svg class="feather feather-more-horizontal sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="19" cy="12" r="1"></circle>
            <circle cx="5" cy="12" r="1"></circle>
          </svg>
        </button>
      </div>
    </div>

    <!-- BUCLE DE MENSAJES -->

      <!-- MENSAJES A LA IZQUIERDA -->
      <div class="chat__conversation-board__message-container reversed">
        <div class="chat__conversation-board__message__person">
          <div style="background-color: #9A170A; color: #f0f3f4; margin-top: 10px"></div><span class="chat__conversation-board__message__person__nickname"></span>
        </div>
        <div class="chat__conversation-board__message__context">
          <div class="chat__conversation-board__message__bubble"> <span>{{emi[0][0].mensaje}}</span></div>
        </div>
      </div>

      <!-- MENSAJES DERECHA -->





    <div class="chat__conversation-board__message-container">
      <div class="chat__conversation-board__message__person">
        <div style="background-color: #9A170A; color: #f0f3f4; margin-top: 10px"></div><span class="chat__conversation-board__message__person__nickname"></span>
      </div>
      <div class="chat__conversation-board__message__context">
        <div class="chat__conversation-board__message__bubble"> <span>{{emi[0][1].mensaje}}</span></div>
      </div>
    </div>




  </div>




  <div class="chat__conversation-panel">
    <form class="chat__conversation-panel__container"  [formGroup]="chatForm" (ngSubmit)="postChat(chatForm.value)" >
      <button class="chat__conversation-panel__button panel-item btn-icon add-file-button">
        <svg class="feather feather-plus sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
      </button>
      <button class="chat__conversation-panel__button panel-item btn-icon emoji-button">
        <svg class="feather feather-smile sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
          <line x1="9" y1="9" x2="9.01" y2="9"></line>
          <line x1="15" y1="9" x2="15.01" y2="9"></line>
        </svg>
      </button>

      <input class="chat__conversation-panel__input panel-item" placeholder="Type a message..."formControlName="mensaje"/>



      <button type="submit" class="chat__conversation-panel__button panel-item btn-icon send-message-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24  " fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="1036">
          <line x1="22" y1="2" x2="11" y2="13"></line>
          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg>
      </button>

    </form>
  </div>
</div>
