<app-navbar></app-navbar>
<section>
  <!--for demo wrap-->
  <h1>MIS CONTACTOS</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>FUNCION</th>
        <th>FUNCION 2</th>
        <th>FUNCION 3</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>


      <tr *ngFor="let contacto of contactos">
        <td>{{contacto.nombre}}</td>
        <td>{{contacto.nombreUsuario}}</td>
        <td>{{contacto.telefono}}</td>
        <td> <button class="btn" style="background-color: #D68910; color: #f0f3f4"><a [routerLink]="['/chat', contacto.nombreUsuario]">CHAT</a></button></td>
        <td> <button type="button" class="btn" style="background-color: #931205; color: #f0f3f4" (click)="eliminar(contacto)"> ELIMINAR</button> </td>
        <td> <button class="btn" style="background-color: green; color: #f0f3f4" (click)="toggleBlocked(contacto)">CAMBIA</button></td>
      </tr>

      </tbody>
    </table>
  </div>
  <button class="btn" style="background-color: #D68910; color: #f0f3f4; margin-top: 10px"><a href="crear">Crear Contacto</a> </button>
</section>


<!-- follow me template -->
<div class="made-with-love">
  Made it by
  <a target="_blank" href="https://codepen.io/nikhil8krishnan">EL FENOMENAL</a>
</div>


<!--
<tr class="table-primary">
        <th scope="row">Fernand10s</th>
        <td>640125461</td>
        <td>Zumbao@gmail.com</td>
        <td>
          <button class="btn btn-warning"> CHAT</button>
          &nbsp;
          <button class="btn" style="background-color: #931205; color: #f0f3f4"> ELIMINAR</button>
        </td>
      </tr>

-->
