<app-navbar></app-navbar>
<section>
  <!--for demo wrap-->
  <h1>MIS CONTACTOS</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>FUNCION</th>
        <th>FUNCION 2</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>


      <tr>
        <td>AAC</td>
        <td>AUSTRALIAN COMPANY </td>
        <td>$1.38</td>
        <td> <button class="btn" style="background-color: #D68910; color: #f0f3f4">CHAT</button></td>
        <td> <button class="btn" style="background-color: #931205; color: #f0f3f4"> ELIMINAR</button> </td>
      </tr>
      <tr>
        <td>AAD</td>
        <td>AUSENCO</td>
        <td>$2.38</td>
        <td>-0.01</td>
        <td>-1.36%</td>
      </tr>
      <tr>
        <td>AAX</td>
        <td>ADELAIDE</td>
        <td>$3.22</td>
        <td>+0.01</td>
        <td>+1.36%</td>
      </tr>
      <tr>
        <td>XXD</td>
        <td>ADITYA BIRLA</td>
        <td>$1.02</td>
        <td>-1.01</td>
        <td>+2.36%</td>
      </tr>
      <tr>
        <td>AAC</td>
        <td>AUSTRALIAN COMPANY </td>
        <td>$1.38</td>
        <td>+2.01</td>
        <td>-0.36%</td>
      </tr>
      <tr>
        <td>AAD</td>
        <td>AUSENCO</td>
        <td>$2.38</td>
        <td>-0.01</td>
        <td>-1.36%</td>
      </tr>
      <tr>
        <td>AAX</td>
        <td>ADELAIDE</td>
        <td>$3.22</td>
        <td>+0.01</td>
        <td>+1.36%</td>
      </tr>
      <tr>
        <td>XXD</td>
        <td>ADITYA BIRLA</td>
        <td>$1.02</td>
        <td>-1.01</td>
        <td>+2.36%</td>
      </tr>
      <tr>
        <td>AAC</td>
        <td>AUSTRALIAN COMPANY </td>
        <td>$1.38</td>
        <td>+2.01</td>
        <td>-0.36%</td>
      </tr>
      <tr>
        <td>AAD</td>
        <td>AUSENCO</td>
        <td>$2.38</td>
        <td>-0.01</td>
        <td>-1.36%</td>
      </tr>
      <tr>
        <td>AAX</td>
        <td>ADELAIDE</td>
        <td>$3.22</td>
        <td>+0.01</td>
        <td>+1.36%</td>
      </tr>


      <tr>
        <td>AAX</td>
        <td>ADELAIDE</td>
        <td>$3.22</td>
        <td>+0.01</td>
        <td>+1.36%</td>
      </tr>



      </tbody>
    </table>
  </div>
</section>


<!-- follow me template -->
<div class="made-with-love">
  Made it by
  <a target="_blank" href="https://codepen.io/nikhil8krishnan">EL FENOMENAL</a>
</div>


<!--
<tr class="table-primary">
        <th scope="row">Fernand10s</th>
        <td>640125461</td>
        <td>Zumbao@gmail.com</td>
        <td>
          <button class="btn btn-warning"> CHAT</button>
          &nbsp;
          <button class="btn" style="background-color: #931205; color: #f0f3f4"> ELIMINAR</button>
        </td>
      </tr>

-->
