<app-navbar></app-navbar>
<section>
  <!--for demo wrap-->
  <h1>MIS CONTACTOS</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>Usuario</th>
        <th>Quien Eres</th>
        <th>Telefono</th>
        <th>FUNCION</th>
        <th>FUNCION 2</th>
        <th>FUNCION 3</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>


      <tr *ngFor="let contacto of contactos">
        <td>{{contacto.nombreUsuario}}</td>
        <td>{{contacto.nombre}}</td>
        <td>{{contacto.telefono}}</td>
        <td> <button [disabled]="contacto.bloqueado == 1" class="btn" style="background-color: limegreen; color: #f0f3f4"><a [routerLink]="['/chat', contacto.nombreUsuario, contacto.nombre]">CHAT</a></button></td>
        <td> <button class="btn" style="background-color: #D68910;"><a style="color: #f0f3f4" [routerLink]="['/editarc', contacto.id, contacto.nombreUsuario, contacto.nombre, contacto
        .telefono, contacto.bloqueado]">EDITAR</a></button></td>
        <td> <button type="button" class="btn" style="background-color: #931205; color: #f0f3f4" (click)="eliminar(contacto)"> ELIMINAR</button> </td>
      </tr>

      </tbody>
    </table>
  </div>
  <button class="btn" style="background-color: #D68910; color: #f0f3f4; margin-top: 10px"><a href="crear">Crear Contacto</a> </button>
</section>


<!-- follow me template -->
<div class="made-with-love">
  Made it by
  <a target="_blank" href="https://codepen.io/nikhil8krishnan">CIJFERS</a>
</div>
