.toast-error {
  margin-right: 10%;
  margin-left: 10%;
  width: 1600px;
  height: 50px;
  margin-top: -36%;
  text-align: center;
  border: 1px solid rgba(241, 6, 6, 0.81);
  background-color: rgba(220, 17, 1, 0.16);
  box-shadow: 0px 0px 2px #ff0303;
  color: #ff0303;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}
