<app-navbar></app-navbar>
<div class="promotion-carousel">
  <div class="promotions">
    <div>
      <div class="promotion" id="section1" style="background-image: url(../../assets/images/hp.jpg)">
        <div class="shade"></div>
        <div class="promo-detail cycle-overlay">
          <div class="promo-text">
            <span class="dash"></span>
            <a href="#" class="copy">
              <div class="headline">MENSAJERIA INSTANTANEA</div>
              <p class="body long">La forma más rápida de comunicarse en la web</p>
            </a>
            <div class="buttons">
              <a class="button see-all" href="#">COMIENZA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-content></app-content>

<app-footer></app-footer>
