<form class="login-form" style="margin-top: 12%"[formGroup]="crearForm" (ngSubmit)="postCrear(crearForm.value)">
  <p class="login-text" style="margin-right: 26%; margin-bottom: 5%">
    REGISTRO
  </p>
  <input type="email" class="login-username " autofocus="true" required="true" placeholder="Email" style="text-align: center" formControlName="username"/>
  <input type="password" class="login-password" required="true" placeholder="Password" style="text-align: center" formControlName="password"/>
  <input type="submit" name="Login" value="Next" class="btn btn-outline-light" style="margin-left: 41%; margin-top: 5%"/>
</form>
<h5><a href="login" class="login-forgot-pass" style="margin-left: -0.5%; margin-bottom: 1%">Iniciar Sesion</a></h5>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
